anyio==3.3.4
asgiref==3.4.1
aws-cfn-bootstrap==2.0
click==8.0.3
docutils==0.14
fastapi==0.70.0
h11==0.12.0
idna==3.3
importlib-metadata==4.8.1
lockfile==0.11.0
pydantic==1.8.2
pystache==0.5.4
python-daemon==2.2.3
simplejson==3.2.0
sniffio==1.2.0
starlette==0.16.0
typing-extensions==3.10.0.2
uvicorn==0.15.0
zipp==3.6.0
